# Projeto de Câmbio Financeiro

In [11]:
# importando bibliotecas
import pandas as pd

In [13]:
# criando conjunto de dados

dados_cambio = {'Produto':['Produto A','Produto B','Produto C'],
                'Preco USD': [100,150,200],
                'Preco EUR':[85,125,170],
                'Preco JPY':[10000,15000,20000]
               }

In [15]:
dados_cambio

{'Produto': ['Produto A', 'Produto B', 'Produto C'],
 'Preco USD': [100, 150, 200],
 'Preco EUR': [85, 125, 170],
 'Preco JPY': [10000, 15000, 20000]}

In [17]:
# criar função para converter o câmbio

def conversao_para_usd(preco,taxa):
    return preco / taxa

In [19]:
taxa = {'USD':1, 'EUR':1.2,'JPY':0.009}

In [23]:
taxa

{'USD': 1, 'EUR': 1.2, 'JPY': 0.009}

In [25]:
df_cambio = pd.DataFrame(dados_cambio)

In [27]:
df_cambio

     Produto  Preco USD  Preco EUR  Preco JPY
0  Produto A        100         85      10000
1  Produto B        150        125      15000
2  Produto C        200        170      20000

# funções lambda

In [31]:
# adicionar uma nova coluna com preço em Libras

In [33]:
df_cambio

     Produto  Preco USD  Preco EUR  Preco JPY
0  Produto A        100         85      10000
1  Produto B        150        125      15000
2  Produto C        200        170      20000

In [49]:
# criando uma coluna com preço em libras esterlinas usando o preço em dólar como base.
df_cambio['Preco GBP'] = df_cambio['Preco USD'].apply(lambda x:x * 1.4)

In [51]:
df_cambio

     Produto  Preco USD  Preco EUR  Preco JPY  Preco GBP
0  Produto A        100         85      10000      140.0
1  Produto B        150        125      15000      210.0
2  Produto C        200        170      20000      280.0